//animations
$trans-time: 300ms;
$trans-ease: ease-in-out;
$trans-delay: 400ms;

$trans-fast: 300ms;
$trans-medium: 600ms;
$trans-slow: 900ms;

$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);

$bgImageHeight: 1765px;
$bgImageWidth: 2522px;
